<section id="page-header" class="blog-header">
        <h2>Read More</h2>
        <p>Read all case studies about our services!</p>
    </section>

    <section id="blog">
        <div class="blog-box">
            <div class="blog-img">
                <img src="img/leadership.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>Mindful Leadership</h4>
                <p>Delve into the importance of fostering a mentally healthy work environment. 
                    Learn about the role of mindful leadership and explore practical strategies to integrate mental health practices into your workplace culture, promoting a more supportive and resilient team.
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>30/01</h1>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="img/future.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>Navigating the Future</h4>
                <p>Stay ahead of the curve by exploring the latest technological trends shaping corporate wellness programs. 
                From wellness apps to virtual health consultations, discover how integrating technology can enhance employee health and satisfaction in the modern workplace.
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>22/01</h1>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="img/wellbeing.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>Unlocking Workplace Well-Being</h4>
                <p>Explore effective strategies and initiatives that promote employee well-being within the workplace. 
                    From mindfulness practices to ergonomic workspace design, discover ways to create a healthy and productive environment for your team.
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>13/01</h1>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="img/fitness.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>The Impact of Corporate Fitness Programs on Employee Engagement</h4>
                <p>Dive into the positive effects of implementing fitness programs in the corporate setting. 
                    Learn how investing in employee health through fitness initiatives can boost morale, increase productivity, 
                    and contribute to a more engaged and motivated workforce.
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>07/01</h1>
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa fa-arrow-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Your Wellness</h4>
            <p>Get E-mail updates about our latest shop and <span><strong>special offers.</strong></span></p>
        </div>
        <div class="form">
            <form id="newsletter-form">
            <input type="email" placeholder="Your email Address" name="email">
            <button type="submit" class="normal">Sign up</button>
        </form>
        </div>
    </section>