<section id="hero">
        <div class="hero1">
        <h4 class="anim">CYGLERA MARKETPLACE</h4>
        <h2 class="anim">Nourishing Body, Mind & Soul</h2>
        <h1 class="anim">Revitalize Your Well-being</h1>
        <p class="anim">Sign-up and Explore now!!</p>
        <a href="register.html">
        <button class="btn anim">SIGN UP NOW</button>
        </a>
    </div>
        <div class="slider anim">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
    
                <div class="slide first">
                    <a href="about.html"><img src="img/main1.png" alt=""></a>
                </div>
                <div class="slide">
                    <a href="shop.html"><img src="img/main2.png" alt=""></a>
                </div>
                <div class="slide">
                    <a href="blog.html"><img src="img/main3.png" alt=""></a>
                </div>
                <div class="slide">
                    <a href="register.html"><img src="img/main4.png" alt=""></a>
                </div>
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
            </div>
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
    
            </div>
        </div>
    
        <script type="text/javascript">
            var counter = 1;
            setInterval(function(){
                document.getElementById('radio' + counter).checked = true;
                counter++;
                if(counter > 4){
                    counter = 1;
                }
            }, 5000);
        </script>
    </section>

    <section id="feature" class="section-p1">
      
        <div class="fe-box">
            <img src="img/fitness.png" alt="">
            <h5>Fitness</h5>
        </div>
 
        <div class="fe-box">
            <img src="img/wellness.png" alt="">
            <h5>Wellness</h5>
        </div>
   
        <div class="fe-box">
            <img src="img/Mental.png" alt="">
            <h5>Mental Health</h5>
        </div>
  
        <div class="fe-box">
            <img src="img/nutrition.png" alt="">
            <h5>Nutrition</h5>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Services</h2>
        <p>Make Life Healthy</p>
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="img/gym.jpg" alt="">
                <div class="des">
                    <span>Seller 1</span>
                    <h5>6 Monoths Gym Membership</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$100</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='sproduct2.html';">
                <img src="img/meal.jpg" alt="">
                <div class="des">
                    <span>Seller 2</span>
                    <h5>30 Freash Meal Kits</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$150</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='sproduct3.html';">
                <img src="img/therapist.jpg" alt="">
                <div class="des">
                    <span>Seller 3</span>
                    <h5>20 Times Therapist Session</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$300</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='sproduct4.html';">
                <img src="img/pt.jpg" alt="">
                <div class="des">
                    <span>Seller 4</span>
                    <h5>3 Months Person Training</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
        </div>
    </section>

    <section id="banner" class="section-m1">
        <h3>Unlock Ultimate Wellness</h3>
        <h1>Elevate Your Journey with Premium Membership!</h1>
        <a href="register.html">
        <button class="normal">Explore More</button>
    </a>
    </section>

    <section id="product1" class="section-p1">
        <h2>New Services</h2>
        <p>Make Life Healthy</p>
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='sproduct7.html';">
                <img src="img/pro5.jpg" alt="" height="375px">
                <div class="des">
                    <span>Seller 1</span>
                    <h5>Health Education Program</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$100</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='sproduct8.html';">
                <img src="img/Pro6.jpg" alt="">
                <div class="des">
                    <span>Seller 2</span>
                    <h5>Mindfulness and Meditation Classes</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$150</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Your Wellness</h4>
            <p>Get E-mail updates about our latest shop and <span><strong>special offers.</strong></span></p>
        </div>
        <div class="form">
            <form id="newsletter-form">
            <input type="email" placeholder="Your email Address" name="email">
            <button type="submit" class="normal">Sign up</button>
        </form>
        </div>
    </section>

    