 <section id="page-header">
        <h2>Products</h2>
        <p>Home → Products</p>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="img/gym.jpg" alt="">
                <div class="des">
                    <span>Seller 1</span>
                    <h5>6 Monoths Gym Membership</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$100</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='sproduct2.html';">
                <img src="img/meal.jpg" alt="">
                <div class="des">
                    <span>Seller 2</span>
                    <h5>30 Fresh Meal Kits</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$150</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='sproduct3.html';">
                <img src="img/therapist.jpg" alt="">
                <div class="des">
                    <span>Seller 3</span>
                    <h5>20 Times Therapist Session</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$300</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='sproduct4.html';">
                <img src="img/pt.jpg" alt="">
                <div class="des">
                    <span>Seller 4</span>
                    <h5>3 Months Person Training</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
      
            <div class="pro" onclick="window.location.href='sproduct5.html';">
                <img src="img/vitamin.jpg" alt="" height="400px">
                <div class="des">
                    <span>Seller 5</span>
                    <h5>Vitamin Packages</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$120</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            <div class="pro" onclick="window.location.href='sproduct6.html';">
                <img src="img/yoga.jpg" alt="">
                <div class="des">
                    <span>Seller 6</span>
                    <h5>20 Times Yoga Session</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <h4>$450</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-basket cart"></i></a>
            </div>
            
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa fa-arrow-right"></i></a>
    </section>
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Your Wellness</h4>
            <p>Get E-mail updates about our latest shop and <span><strong>special offers.</strong></span></p>
        </div>
        <div class="form">
            <form id="newsletter-form">
            <input type="email" placeholder="Your email Address" name="email">
            <button type="submit" class="normal">Sign up</button>
        </form>
        </div>
    </section>