

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 52px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 48px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 22px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 14px;
}

p {
    font-size: 18px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
}

body {
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3eef3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active
{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 25%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero{
    background-image: url(img/wallpaper.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 45% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: row; /*to make a same line with text and image change from column to row*/
    align-items: center; /*flex-start before*/
    justify-content: space-between; /*center before*/
}

#hero h4 {
    padding-bottom: 15px;
    animation-delay: 0.5s;
}

#hero h2 {
    animation-delay: 1s;

}
#hero h1 {
    color: #088178;
    animation-delay: 1s;
}

#hero p{
    animation-delay: 1.5s;

}

#hero button {
    /* need to edit button background */
    outline: none;
    /*border: 0;*/
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 22px;
    transition: 0.5s;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
    animation-delay: 1.5s;

}


#hero button:hover {
    background-color: #088178;
    color: #fff;
}

#hero .slider.anim{
    animation-delay: 2s;

}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 250px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h5{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h5{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h5{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(4) h5{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 48%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 14px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
}

#product1 .pro .des i{
    font-size: 14px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 17px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner10.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h3{
    font-size: 32px;
    color: transparent;
    background: url(img/test.png);
    -webkit-background-clip: text;
    

    background-position: 0 0;
    animation: back 20s linear infinite;
}

#banner h1 {
    color: transparent;
    font-size: 40px;
    padding: 10px 0;
   
    background: url(img/test.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

}


@keyframes back{
    100% {
        background-position: 2000px 0;

    }
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

/*make a one row*/
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col_install img {
    width: 80px;
    padding: 10px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner7.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    
}

#newsletter h4{
    font-size: 24px;
    font-weight: 700px;
    color: #fff;
}

#newsletter p{
    font-size: 16px;
    font-weight: 600px;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    
}

#newsletter .form{
    display: flex;
    width: 40%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
    width: 50%;
}

footer h4{
    font-size: 16px;
    padding-bottom: 20px;
}

footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}


@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

     #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
     }
     #navbar.active{
        right: 0px;
     }

     #navbar li{
        margin-bottom: 25px;
     }

     #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
       margin: 15px 15px;
    }

    #product1 .pro-container {
        
        justify-content: center;
        
    }

    #product1 .pro {
        margin: 5px;
    }

    #banner {
        height: 20vh;
    }

     #newsletter .form {
         width: 70%;
     }
 
}

@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h2 {
        font-size: 32px;
    }
    h1 {
        font-size: 38px;
    }

    #hero {
        background-position: 55%;
        padding: 0 20px;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
       width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #newsletter {
       padding: 40px 20px;
    }
    #newsletter .form {
        display: flex;
        width: 100%;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    
    #prodetails .single-pro-details {
        width: 100%;
    }

    #about-head {
        flex-direction: column;
        align-items: center;
    }

    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
}

#page-header{
    background-image: url(img/banner6.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 14px;
}

#page-header h2 {
    color: #fff;
    margin-left: 200px;
}

#page-header p{
    font-weight: 1000;
    color: #fff;
    margin-left: 200px;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 18px;
    font-weight: 400;
}
#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 28px;
}


#prodetails .single-pro-details input{
    padding-left: 10px;
    font-size: 18px;
    margin-right: 10px;
    width: 50px;
    height: 47px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

#page-header.about-header {
    background-image: url(img/banner6.jpg);
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 22px;
}

#contact-details .details h2,
#form-details h2{
    font-size: 52px;
    line-height: 60px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 32px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 22px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 22px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details button {
    background-color: #088178;
    color: #fff;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 200px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(4) input{
    width: 50px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 17px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
} 

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 17px;
}

#page-header.blog-header{
    background-image: url(img/banner.jpg);
}

#page-header.blog-header p{
    font-weight: 1000;
    color: #000;
    margin-left: 200px;
}

#page-header.blog-header h2{
    color: #000;
    margin-left: 200px;
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 13px;
    color: #000;
    font-weight: 700;
    position: relative;
    transform: 0.5s;
 }

 #blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
 }

 #blog .blog-details a:hover{
    color: #088178;
 }

 #blog .blog-details a:hover::after{
    background-color: #088178;
 }

 #blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 72px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -1;
 }
/* register */
 #register {
    text-align: center;
    margin-top: 30px;
 }

 #register .context{
    width: 700px;
    height: 50px;

 }

 #register .context-top{
    margin-top: 30px;
    width: 700px;
    height: 50px;
 }

 #register .row label {
   margin-left: 5px;
}

#register .row input[type="radio"]{
    margin-left: 15px;
}

 #register .province .select,
 #register .business .select,
 #register .country .select{
    font-size: 22px;
    width: 400px;
    margin-left: 15px;
 }
 
 #register h4 {
    margin-right: 10px; /* Adjust as needed */
}

#register .row {
    display: flex;
    align-items: center;
    
    margin-bottom: 20px; /* Adjust as needed */
}




 /* Focus State */
#register input:focus, #register select:focus {
    border-color: #007bff;
    outline: none;
}

/* Error State Example */
#register input:invalid {
    border-color: red;
}

#register button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
}

#form-details1 {
    align-items: center;
    width: 57%;
    display: flex;
    justify-content: space-between;
    margin-left: 360px;
    margin-top: 20px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

/*--------------animated slide-------------------------------*/
 
.slider{
    width: 700px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: inline;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
    
}

.slide img{
    width: 700px;
    height: 400px;
}

.navigation-manual{
position: absolute;
width: 700px;
margin-top: -130px;
display: flex;
justify-content: center;
}

.manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;
}


#radio2:checked ~ .first{
    margin-left: -20%;
}


#radio3:checked ~ .first{
    margin-left: -40%;
}


#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 700px;
    justify-content: center;
    margin-top: 370px;
}

.navigation-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40d3dc;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.cart-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.cart-popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-popup button {
    margin-top: 20px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .cart-popup-content {
        width: 80%;
    }
}

/* payment webpages */
.payment-status-container {
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}

.payment-status-container.success {
    color: #28a745; /* Green for success */
}

.payment-status-container.cancel {
    color: #dc3545; /* Red for cancellation */
}

.payment-status-container img {
    max-width: 100px;
    margin-bottom: 20px;
}

.payment-status-container h2 {
    margin-bottom: 15px;
}

.payment-status-container p {
    margin-bottom: 20px;
}

.payment-status-container a {
    background-color: #088178; /* Using your button color */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.payment-status-container a:hover {
    background-color: #066f62; /* Slightly darker on hover */
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
    flex-direction: column;
    overflow: hidden;
}

.section .animate {
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
}

.section.show-animate .animate {
    opacity: 1;
    filter: blur(0);
}

.sec-1 .animate {
    transform: translateX(-100%);
}

.sec-1.show-animate .animate {
    transform: translateX(0);
}
/*from here*/
.sec-2-3 .text-content .animate {
    transform: translateX(100%);
}

.sec-2-3.show-animate .text-content .animate {
    transform: translateX(0);
}

.sec-2-3 .images img {
    max-width: 300px;
    margin: 0 30px;
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i));
}

.sec-2-3.show-animate .images img {
    transform: translateX(0);
}

.section h1 {
    position: relative;
    font-size: 80px;
    color: #fff;
}

.section p {
    position: relative;
    font-size: 60px;
    color: #0ef;
    font-weight: 600;
}

.section.sec-2-3 p {
    color: #0ef;
}



.sec-4 .animate {
    transform: scale(0.7);
}


.sec-4.show-animate .animate {
    transform: scale(1);
}


.section.sec-4 p {
    color: violet;
}

.sec-4 .showRight-animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 110%;
    background: #1f242d;
    transition: 1s;
    transition-delay: calc(.2s * var(--i));
}

.sec-4.show-animate .showRight-animate{
    width: 0;
}